checkpoint/*
clip/*

inference_log/*
exp_checkpoint/*

__pycache__/    
**/__pycache__/
*.py[cod]
.mypy_cache/

compression_mscoco_val30k/
training_log/*


kodak/*

.vscode/


exp_1_checkpoints/

compression_mscoco_result/
compression_kodak_results/

clip/

encoder_materials/

logs/
